{% extends "base.html" %}
{% block content %}
<h3>Login to Stock App</h3>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% else %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
<td>{{ form.username.label_tag }}</td>
<td>{{ form.username }}</td>
</tr>
<tr>
<td>{{ form.password.label_tag }}</td>
<td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" id = "test" value="login" >
<input type="hidden" value="{{ next }}" name="next">
</form>
{% endif %}
<body>
<script>
    {#onclick = "return Verify()"#}
{#function Verify() {#}
{#    var a = document.getElementById("test").value;#}
{#    if (a.includes("&") || a.includes("@") || a.includes ("!")) {#}
{#        alert("Please do not include &, @, or !. This is username, not email")#}
{#        return false#}
{#    }#}
{#    else {#}
{#        return true#}
{#    }#}
}
</script>

</body>
{% endblock %}