{#Base.html is the template for the base format, will be common for all pages#}

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock App</title>
    <link rel="stylesheet" href="{% static 'App1/my_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<p style="text-align:left;">
<span id="logo">Stock App!</span>
<span style="float:right;">
{% if user.username %}
            <span class="large-font">Welcome! {{ user.username }}!</span><br>
<a href="{% url 'logout' %}"><button>logout</button></a>
{% else %}
            <span class="medium-font">Please login</span><br>
<a href="{% url 'login' %}"><button>login</button></a>
<a href="{% url 'register_user' %}"><button>Create account</button></a><br>
{% endif %}
    </span>
</p>
{% block content %}
    <-- This is where the page information will go! -->
{% endblock %}
    <div id = "footer">
         Copyright 2022 Columbia Business School. Group: Alan Zhao, Munir Nanjee, Soya Hirano. All rights reserved.
    </div>
</body>
</html>
