{% extends "base.html" %}
{% block content %}
    <form action="{% url 'exchange_rate_info' %}" method="get">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<h4>Please select the country you are traveling from</h4>
<select class="form-control d-inline-block">
    {% for country in countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
    {% endfor %}

</select>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<h4>Please select the country you are traveling to</h4>
<select class="form-control">
    {% for country in countries %}
        <option value="{{country.id}}">{{ country.name }}</option>
    {% endfor %}
</select>
</div>
</div>
</div>
<input type="submit" value="submit">

</form>
{% endblock %}
