{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <span style = "font-size: 36px"> Welcome to the </span> <span id = "logo"> Stock App!  </span>

       <p>
        <a href="{% url 'login' %}">Existing Users</a><br>
        <a href="{% url 'register_user' %}">New Users</a><br>
        </p>
    </div>






{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-4">#}
{#                <h3>Currency Rates!</h3>#}
{#                    <p>Using this app, you can get up to the second exchange rates easily!</p>#}
{#            </div>#}
{#        <div class="col-sm-4">#}
{#            <h3>Navigation!</h3>#}
{#            <p> Please choose an action from the following options#}
{#            <p> <a href="{% url 'maintenance' %}">Do maintenance</a><br>#}
{#        Get rates<br>#}
{#        Other stuff<br></p>#}
{#        </div>#}
{#<div class="col-sm-4">#}
{#    <h3>The future!</h3>#}
{#    <p>Soon, you will be able to invest your money by buying, selling and saving in any currency!</p>#}
</div>
</div>
</div>




</p>


{% endblock %}