<head>
    <style>


 {
    text-align: center;
    position: absolute;
    top: 50%;
    overflow: visible;
    visibility: visible;
    display: block
    }

</style>

</head>


<body style="text-align:center;">
<div class="content" style="text-align:center">
<h1 style="text-align:center;">Search Stock</h1>
{#h1 = heading tag#}
Input Stock Ticker
<form action="" method="get">
<input type="text" id="Stock Ticker" name="Stock Ticker" value="Ex: AAPL">
{#value tells us which button was checked and appears in url#}
<input name="form_submitted" value="1" type="hidden">
<input name="update" value="Search" type="submit">
</form>
</div>
</body>